@model  LSWebApp.Models.CompanyDashboardModel
@{
	ViewBag.Title = "Company Dashboard";
	Layout = "~/Views/Shared/_LayoutDynemicMenu.cshtml";
}
<style>
	table, th, td {
		border: 1px solid black;
	}
</style>
<h3>Company Dashboard for @Model.CompanyObject.CompanyName</h3>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Index</th>
			<th>Report</th>
			<th>Category</th>
		</tr>	
	</thead>
	<tbody>
		<tr class="table-active">
			<td>a)</td>
			<td> @Html.ActionLink("Litigation management - filing deadlines", "Charts",new { chartId = 1 }, null)</td>
			<td>- User category to be defined</td>
		</tr>
		<tr class="table-active">
			<td>b)</td>
			<td> @Html.ActionLink("Statement of tax related disclosure", "Charts", new { chartId = 2 }, null)</td>
			<td>- User category to be defined</td>
		</tr>
		<tr class="table-active">
			<td>c)</td>
			<td>ETR analysis</td>
			<td>- User category to be defined</td>
		</tr>
		<tr class="table-active">
			<td>d)</td>
			<td>Discharge of tax liability</td>
			<td>- User category to be defined</td>
		</tr>
		<tr class="table-active">
			<td>e)</td>
			<td>Return filing compliance</td>
			<td>- User category to be defined</td>
		</tr>
		<tr class="table-active">
			<td>f)</td>
			<td>Key issues and trends</td>
			<td>- User category to be defined</td>
		</tr>
		<tr class="table-active">
			<td>g)</td>
			<td>Working capital lock up</td>
			<td>- User category to be defined</td>
		</tr>
		<tr class="table-active">
			<td>h)</td>
			<td>Group summary</td>
			<td>- User category to be defined</td>
		</tr>
		<tr class="table-active">
			<td>i)</td>
			<td>Company summary</td>
			<td>- User category to be defined</td>
		</tr>
	</tbody>
</table>


