@model  LSWebApp.Models.MatCreditStatusModel
@{
    ViewBag.Title = "Mat Credit Status";
    Layout = "~/Views/Shared/_LayoutDynemicMenu.cshtml";
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<h3>Mat Credit Status for @Model.CompanyObject.CompanyName</h3>
