@model  LSWebApp.Models.SummaryReportModel
@{
    ViewBag.Title = "Summary Report";
    Layout = "~/Views/Shared/_LayoutDynemicMenu.cshtml";
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<h3>Summary Report for @Model.CompanyObject.CompanyName</h3>
