CREATE DATABASE [LitigationApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LitigationApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LitigationApp.mdf' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LitigationApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LitigationApp_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [LitigationApp]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [LitigationApp] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
