<Pages>
  <PageId Value="2">
    <MenuItem
      DisplayText="Dashboard"
      ControllerName="TaxReturn"
      ActionName="CompanyDashboard"
      Id="1">
    </MenuItem>
    <MenuItem
      DisplayText="Input Sheet"
      ControllerName="TaxReturn"
      ActionName="GetITReturnDetails"
      Id="2">
    </MenuItem>
    <MenuItem
      DisplayText="Computation Sheet"
      ControllerName="TaxReturn"
      ActionName="ExistingITReturnDetails"
      Id="3">
    </MenuItem>
    <MenuItem
      DisplayText="L and S"
      ControllerName="TaxReturn"
      ActionName="LitigationAndSimulation"
      Id="4">
    </MenuItem>
    <MenuItem
      DisplayText="R/D Analysis"
      ControllerName="TaxReturn"
      ActionName="RDAnalysis"
      Id="5">
    </MenuItem>
    <MenuItem
      DisplayText="Mat Credit Status"
      ControllerName="TaxReturn"
      ActionName="MatCreditStatus"
      Id="6">
    </MenuItem>
    <MenuItem
      DisplayText="B/L Analysis"
      ControllerName="TaxReturn"
      ActionName="BusinessLossAnalysis"
      Id="7">
    </MenuItem>
    <MenuItem
      DisplayText="Compliances"
      ControllerName="TaxReturn"
      ActionName="GetComplianceList"
      Id="8">
    </MenuItem>
    <MenuItem
      DisplayText="Documents"
      ControllerName="TaxReturn"
      ActionName="GetITReturnDocuments"
      Id="9">
    </MenuItem>
    <MenuItem
      DisplayText="Flow Chart"
      ControllerName="TaxReturn"
      ActionName="FlowChart"
      Id="10">
    </MenuItem>
    <MenuItem
      DisplayText="Summary Report"
      ControllerName="TaxReturn"
      ActionName="SummaryReport"
      Id="11">
    </MenuItem>
  <MenuItem
      DisplayText="Standard Data"
      ControllerName="TaxReturn"
      ActionName="GetStandardData"
      Id="11">
    </MenuItem>
  </PageId>
  <PageId Value="1">
    <MenuItem
      DisplayText="Dashboard"
      ControllerName="TaxReturn"
      ActionName="Index"
      Id="1">
    </MenuItem>
    <MenuItem
      DisplayText="List of Companies"
      ControllerName="TaxReturn"
      ActionName="GetCompanyList"
      Id="2">
    </MenuItem>
    <MenuItem
      DisplayText="Create Entity"
      ControllerName="TaxReturn"
      ActionName="CreateCompany"
      Id="3">
    </MenuItem>
  </PageId>
  <PageId Value="3">
    <MenuItem
      DisplayText="Menu List"
      ControllerName=""
      ActionName=""
      Id="-1">
      <MenuItem
       DisplayText="Register Company"
       ControllerName="TaxReturn"
       ActionName="Index"
       Id="1">
      </MenuItem>
      <MenuItem
       DisplayText="List of Companies"
       ControllerName="TaxReturn"
       ActionName="GetCompanyList"
       Id="2">
      </MenuItem>
      <MenuItem
        DisplayText="Compliances"
        ControllerName="TaxReturn"
        ActionName="GetComplianceList"
        Id="3">
      </MenuItem>
    </MenuItem>
  </PageId>
</Pages>
